*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

.search_section{
  padding: 100px 100px 50px;
}

button:active,
 button:focus,
 input:active,
 input:focus {
  outline: none;
}


html{
  width: 100%;
  max-width: 100%;
}

body {
  width: 100%;
  max-width: 100%;
  background-color: #f03c3c;
}

.container{
  margin: auto;
  width: 100%;
}

.filter_section{
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.95) 0%,rgba(0, 0, 0, 0) 100%);
}

.results{
  font-size: 22px;
  font-weight: 700;
  color: #f03c3c;
}

.filters{
  display: flex;
  align-items: center;
}

.not_found{
  text-align: center;
  color: #f03c3c;
  font-size: 30px;
  padding: 20px 0;
}

button.release,
button.rating{
  padding: 10px 30px;
  font-size: 14px;
  text-transform: uppercase;
  border: 2px solid #f03c3c;
  background-color: #ffffff7b;
  transition: 0.5s ease;
}

button.release:hover,
button.rating:hover{
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #000000;
  transition: all 0.5s ease;
}

button.release{
  margin: 0 30px;
}

.sort{
  padding: 0 20px;
}
.banner{
  background-image: linear-gradient(to bottom, rgb(3, 0, 0) 0%,rgba(58, 20, 20, 0.692) 100%), url(../../pic/banner.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
}

.options_search{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input{
  width: 100%;
  margin: 20px 0 30px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 22px;
  border: 2px solid #f03c3c;
  background-color: #050000cb;
  color: #fcf8f8;
}


.option{
  display: flex;
}

.option h2{
  font-size: 22px;
  color: #fcf8f8;
  text-transform: uppercase;
}

button{
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.option button{
  padding: 5px 30px;
  margin: 0 10px;
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid #f03c3c;
  color: #f03c3c;
  transition: 0.5s ease;
  background-color: #ffffffc9;
}

.option button:hover{
  background-color: #f03c3c;
  color: #ffffff;
  transition: all 0.5s ease;
}

button.search{
  padding: 5px 50px;
  text-transform: uppercase;
  font-size: 18px;
  background-color: #f03c3c;
  color: #ffffff;
  transition: 0.5s ease;
}

button.search:hover{
  background-color: #ffffff;
  color: #f03c3c;
  transition: all 0.5s ease;
}

label h1{
  font-size: 33px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.search_results{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px 0;
}


