*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

.search_section{
  padding: 0 50px 20px 50px;
}

button:active,
 button:focus,
 input:active,
 input:focus {
  outline: none;
}

.search_submit{
  text-align: center;
  margin: 20px 0;
}

html{
  width: 100%;
  max-width: 100%;
}

body {
  width: 100%;
  max-width: 100%;

}

.container{
  margin: auto;
  width: 100%;
  background-color: #f03c3c;
}


.results{
  font-size: 22px;
  font-weight: 500;
  color: #2c2b2b;
  text-align: center;
  padding: 20px 100px;
  color: #f03c3c;
  background-color: #000000;
  border-radius: 5px;
  border: 3px solid #ffffffa5;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
}

.results span{
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
}

.not_found{
  text-align: center;
  color: #f03c3c;
  font-size: 30px;
  padding: 20px 0;
}

.banner{
  background-image: linear-gradient(to bottom, rgba(14, 1, 1, 0.9) 0%,rgba(0, 0, 0, 0.7) 100%), url(../../pic/banner.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  padding-bottom: 20px;
}

.options_search{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input{
  width: 80%;
  margin: 20px 0 30px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 22px;
  border: 2px solid #f03c3c;
  background-color: #050000cb;
  color: #fcf8f8;
}

button{
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button.search{
  padding: 11px 21px;
  text-transform: uppercase;
  font-size: 22px;
  background-color: #f03c3c;
  color: #ffffff;
  transition: 0.5s ease;
  margin: 0 5px;
}

button.search:hover{
  background-color: #ffffff;
  color: #f03c3c;
  transition: all 0.5s ease;
}

label h1{
  font-size: 50px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.search_results{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px 0;
}

.favourite i{
  margin: 30px 100px;
  color: #f03c3c;
}
