.total_movie{
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay{
  position: absolute;
  inset: 0px;
  background: rgb(255, 255, 255, .9);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  width: 70%;
  height: 70%;
  display: inline;
  margin: auto;
}

.modal_item{
  display: flex;
}

.btn_close{
  margin-left: auto;
  margin-right: 0;
  display: table;
}

button.close{
  padding: 5px 50px;
  text-transform: uppercase;
  font-size: 18px;
  background-color: #f03c3c;
  color: #ffffff;
  transition: 0.5s ease; 
}

.trailer{
  text-align: center;
}

.trailer button{
  font-size: 18px;
  padding: 3px 20px;
  background-color: #f03c3c;
  border-radius: 5px;
  text-transform: uppercase;
  transition: 0.5s ease; 
}

.trailer span{
  vertical-align: super;
  padding: 0 5px;
}


button.close:hover{
  background-color: #000000;
  color: #ffffff;
  transition: all 0.5s ease;
}

.trailer button:hover{
  transition: all 0.5s ease;
  color: #ffffff;
  background-color: #939090;
}

.poster_modal img{
  width: 200px;
}

.context{
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.title_modal span{
  color: #f03c3c;
  font-weight: 700;
  font-size: 22px;
}

.overview span{
  color: #000000;
  text-transform: none;
  font-size: 14px;
}

.rating_modal span{
  color: #f03c3c;
  font-weight: 700;
}

.release_modal span{
  color: #000000;
  font-weight: 700;
}

.title_modal,
.overview,
.rating_modal,
.release_modal{
  color: #bdb6b6;
  text-transform: uppercase;
  font-size: 20px;
}


