.total_movie{
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay{
  position: absolute;
  inset: 0px;
  background: rgb(255, 255, 255, .9);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  width: 80%;
  height: 90%;
  display: inline;
  margin: auto;
}

.modal_item{
  display: flex;
}

.btn_close{
  margin-left: auto;
  margin-right: 0;
  display: table;
}

button.close{
  padding: 5px 50px;
  text-transform: uppercase;
  font-size: 18px;
  background-color: #f03c3c;
  color: #ffffff;
  transition: 0.5s ease; 
}

button.close:hover{
  background-color: #000000;
  color: #ffffff;
  transition: all 0.5s ease;
}

.poster_modal img{
  max-width: 300px;
}

.poster_modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.context{
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 60%;
}

.title_modal span{
  color: #f03c3c;
  font-weight: 700;
  font-size: 22px;
}

.overview span{
  color: #000000;
  text-transform: none;
  font-size: 14px;
}

.rating_modal span{
  color: #f03c3c;
  font-weight: 700;
}

.release_modal span{
  color: #000000;
  font-weight: 700;
}

.title_modal,
.overview,
.rating_modal,
.release_modal{
  color: #898686;
  text-transform: uppercase;
  font-size: 20px;
}

.btn_details{
  transition: 0.5s ease;
  background: #333232a1;
  color: #ffffff;
  text-transform: uppercase;
  margin: 20px 0;
  cursor: pointer;
  text-decoration: none;
  padding: 5px 50px;
  font-size: 18px;
  transition: 0.5s ease; 
  border-radius: 5px;
}

.btn_details:hover{
  transition: all 0.5s ease;
  background-color: black;
}
