.trailer{
  vertical-align: sub;
  margin: 10px 0;
}

.trailer button{
  font-size: 14px;
  padding: 3px 14px;
  background-color: #000000;
  border-radius: 5px;
  transition: 0.5s ease; 
  margin: 5px 0;
  border: 2px solid #00000055;
  opacity: .7;
}

.trailer span{
  padding: 0 5px;
}

.trailer i{
  vertical-align: inherit;
  padding: 0 5px;
  color: #000000;
}

.trailer button:hover{
  transition: all 0.5s ease;
  color: #ffffff;
  background-color: #f03c3c;
  opacity: 1;
}

button a{
  text-decoration: none;
  color: #ffffff;
}
