.trailer{
  text-align: center;
}

.trailer button{
  font-size: 18px;
  padding: 3px 20px;
  background-color: #f03c3c;
  border-radius: 5px;
  text-transform: uppercase;
  transition: 0.5s ease; 
}

.trailer span{
  vertical-align: super;
  padding: 0 5px;
}

.trailer button:hover{
  transition: all 0.5s ease;
  color: #ffffff;
  background-color: #939090;
}
